@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 1280px;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: white;
}
.header-right {
  display: flex;
  align-items: center;
  margin-left: 48px;
}
.mod {
  background-color: #d9eff7;
  border-radius: 999px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right-text {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  width: 192.58px;
  height: 40px;
}
.pinetour {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.45px;
  vertical-align: middle;
  color: #065161;
}
.mglex {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #70787c;
}
.header-center {
  display: flex;
  gap: 24px;
  width: 424.83px;
  height: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  vertical-align: middle;
}
.hctext1:hover {
  border: 1px solid #065161;
  border-radius: 30px;
  background-color: #065161;
  padding: 10px;
  color: #ffffff;
  transition: all 0.2s;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.hctext2:hover {
  border: 1px solid #065161;
  border-radius: 30px;
  background-color: #065161;
  padding: 10px;
  color: #ffffff;
  transition: all 0.2s;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.hctext3:hover {
  border: 1px solid #065161;
  border-radius: 30px;
  background-color: #065161;
  padding: 10px;
  color: #ffffff;
  transition: all 0.2s;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.hctext4:hover {
  border: 1px solid #065161;
  border-radius: 30px;
  background-color: #065161;
  padding: 10px;
  color: #ffffff;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.hctext5:hover {
  border: 1px solid #065161;
  border-radius: 30px;
  background-color: #065161;
  padding: 10px;
  color: #ffffff;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  height: 48px;
  width: 420px;
}
.icon-3 {
  display: flex;
  gap: 5px;
  border: 1px solid #ecf5fa;
  background-color: #ecf5fa;
  border-radius: 10px;
}
.en {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  vertical-align: middle;
}
.hltext {
  display: flex;
  gap: 16px;
  margin-right: 48px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  text-align: center;
  vertical-align: middle;
}
.cont {
  border: 1px solid #d9eff7;
  background-color: #d9eff7;
  border-radius: 20px;
  padding: 10px;
}
.bookexp {
  border: 1px solid #065161;
  background-color: #065161;
  border-radius: 20px;
  padding: 10px;
  color: #d9eff7;
}
.iuser {
  border: 1px solid #065161;
  background-color: #065161;
  border-radius: 90px;
  color: #d9eff7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.hero {
  background-image: url(./945f6dc86d60479b0e838fe44013d5e15119a6bd\ \(4\).jpg);
  width: 1280px;
  height: 598px;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 73px;
}

.hero-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}
.layer-1 {
  display: flex;
  height: 34px;
  width: 286.75px;
  gap: 8px;
  background-color: #ffffffc7;
  border: 1px solid #ffffffc7;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.layer-1-text1 {
  border: #194553 1px solid;
  background-color: #194553;
  border-radius: 20px;
  height: 24px;
  width: 112.17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 11px;
  color: #d9eff7;
}
.layer-1-text2 {
  font-weight: 600;
  font-size: 11px;
  color: #194553;
}
.star {
  background-color: #194553;
  border-radius: 10px;
  color: #ffffffc7;
}
.layer-2 {
  height: 238px;
  width: 672px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.layer-2-text1 {
  font-size: 30px;
  font-weight: 700;
  color: #d9eff7;
}
.layer-2-text2 {
  font-size: 56px;
  font-weight: 900;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #ffffff;
}
.layer-2-text3 {
  width: 635.23px;
  height: 88px;
  color: #d9eff7;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.layer-3 {
  display: flex;
  width: 896px;
  height: 92px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}
.layer-3-1 {
  width: 215px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  align-items: center;
  background-color: #ffffffc7;
  border-radius: 20px;
  gap: 8px;
  padding-left: 16px;
}
.house {
  color: #065161;
}
.layer-3-2 {
  width: 215px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  align-items: center;
  background-color: #ffffffc7;
  border-radius: 20px;
  gap: 8px;
  padding-left: 16px;
}
.compass {
  color: #065161;
}
.layer-3-3 {
  width: 215px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  align-items: center;
  background-color: #ffffffc7;
  border-radius: 20px;
  gap: 8px;
  padding-left: 16px;
}
.users {
  color: #065161;
}
.layer-3-4 {
  width: 215px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  align-items: center;
  background-color: #ffffffc7;
  border-radius: 20px;
  gap: 8px;
  padding-left: 16px;
}
.sheild {
  color: #065161;
}
.layer-4 {
  display: flex;
  width: 896px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.layer-4-1 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-left: 8px;
}
.calendar {
  color: #065161;
}
.layer-4-1text {
  display: flex;
  flex-direction: column;
}
.layer-4-1text2 {
  font-size: 14px;
  font-weight: 700;
  color: #141d21;
}
.layer-4-1text1 {
  font-size: 11px;
  font-weight: 600;
  color: #70787c;
}
.layer-4-2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.localtion {
  color: #065161;
}
.layer-4-2text {
  display: flex;
  flex-direction: column;
}
.layer-4-2text2 {
  font-size: 14px;
  font-weight: 700;
  color: #141d21;
}
.layer-4-2text1 {
  font-size: 11px;
  font-weight: 600;
  color: #70787c;
}
.layer-4-3 {
  display: flex;
  flex-direction: row;
  width: 300.8px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}
.layer-4-3-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2b697a;
  border-radius: 40px;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  /* font-weight: 600; */
  line-height: 20px;
  letter-spacing: 0.14px;
  text-align: center;
  vertical-align: middle;
  padding: 14px 34px;
}
.layer-4-3-2text {
  background-color: #d9eff7;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 14px 24px;
}
.page-1 {
  width: 1280px;
  height: 1088px;
  margin-top: 172px;
  background-color: #ecf5fa;
}
.page-1-l1 {
  width: 1184px;
  height: 72px;
  display: flex;
  gap: 247.52px;
  padding-left: 48px;
}
.page-1-l1-left {
  display: flex;
  flex-direction: column;
}
.page-1-l1-left-de {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-weight: 600;
  color: #065161;
  width: 488.48px;
}
.page-1-l1-left-do {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 40px;
  width: 550.48px;
}
.page-1-l1-right {
  width: 439.91px;
  height: 72px;
  font-size: 15px;
  color: #40484b;
}
.page-1main {
  width: 1184px;
  height: 824px;
  display: flex;
  flex-direction: column;
}
.page-1main-deed {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding-left: 48px;
}
.Khuvsgul {
  width: 680.66px;
  border-radius: 20px;
  height: 420px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./Pasted\ 2026-09-22\ at\ 9.09.41\ PM.png);
}
.Khuvsgul-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 234px 32px 32px 32px;
  gap: 12px;
}
.page-1main-deed1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.page-1main-deed1-1 {
  background-color: #d9eff7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #194553;
}
.page-1main-deed1-2 {
  background-color: #ffffffc7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #194553;
}
.page-1main-deed2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.page-1main-deed3 {
  font-size: 13px;
  color: #ffffff;
}
.page-1main-deed4 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #d9eff7;
  font-size: 11px;
  width: 400px;
}
.page-1main-deed4-1 {
  display: flex;
  flex-direction: row;
}
.page-1main-deed4-2 {
  display: flex;
  flex-direction: row;
}

.terkhiin {
  width: 479.33px;
  border-radius: 20px;
  height: 420px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./Untitled.png);
}
.terkhiin-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 234px 32px 32px 32px;
  gap: 12px;
}
.terkhiin-content1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.terkhiin-content1-1 {
  background-color: #d9eff7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #194553;
}
.terkhiin-content1-2 {
  background-color: #ffffffc7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #194553;
}
.terkhiin-content2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.terkhiin-content3 {
  font-size: 13px;
  color: #ffffff;
}
.terkhiin-content4 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #d9eff7;
  font-size: 11px;
}
.terkhiin-content4-2 {
  display: flex;
  flex-direction: row;
}
.terkhiin-content4-1 {
  display: flex;
  flex-direction: row;
}
.page-1main-dood {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding-left: 48px;
  margin-top: 24px;
}
.khorgiin {
  width: 479.33px;
  border-radius: 20px;
  height: 380px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./53d5622eacfb1c7902057a2c2aa0a86da0855965.jpg);
}
.khorgiin-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 234px 32px 32px 32px;
  gap: 12px;
}
.khorgiin-content1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.khorgiin-content1-1 {
  background-color: #d9eff7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #194553;
}
.khorgiin-content1-2 {
  background-color: #ffffffc7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #141d21;
}
.khorgiin-content2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.khorgiin-content3 {
  font-size: 13px;
  color: #d9eff7;
}
.monastery {
  width: 680.66px;
  border-radius: 20px;
  height: 380px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./734b14768a0409fb5668a8c7956b43ee5ae9a771.jpg);
}
.monastery-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 234px 32px 32px 32px;
  gap: 12px;
}
.monastery-content1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.monastery-content1-1 {
  background-color: #d9eff7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #194553;
}
.monastery-content1-2 {
  background-color: #ffffffc7;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #141d21;
}
.monastery-content2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.monastery-content3 {
  font-size: 13px;
  color: #d9eff7;
}
.page-2 {
  background-color: #ecf5fa;
  width: 1280px;
  height: 874px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-2-deed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 168px;
  margin-top: 72px;
  gap: 8px;
}
.page-2-deed-content-1 {
  background-color: #d9eff7;
  color: #065161;
  font-size: 11px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  padding: 4px 16px;
  font-weight: 600;
}
.page-2-deed-content-2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-2-deed-content-3 {
  font-size: 18px;
  color: #40484b;
  text-align: center;
  vertical-align: middle;
}
.page-2-dood {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
  width: 1280px;
}
.page-2-dood-de {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 26px 48px;
}
.days1 {
  width: 330.67px;
  height: 199px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}
.days-content-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.days-content-1-1 {
  font-size: 11px;
  background-color: #e6eff5;
  border-radius: 10px;
  padding: 4px 12px;
}
.days-content-1-2 {
  font-size: 13px;
  color: #70787c;
}
.days-content-2 {
  font-size: 18px;
  font-weight: 600;
  color: #141d21;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.days-content-3 {
  font-size: 13px;
  color: #40484b;
  vertical-align: middle;
}
.days-content-4 {
  display: flex;
  flex-direction: row;
  color: #70787c;
  font-size: 11px;
}
.days2 {
  width: 330.67px;
  height: 199px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}
.days2-content-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.days2-content-1-1 {
  font-size: 11px;
  background-color: #e6eff5;
  border-radius: 10px;
  padding: 4px 12px;
}
.days2-content-1-2 {
  font-size: 13px;
  color: #70787c;
}
.days2-content-2 {
  font-size: 18px;
  font-weight: 600;
  color: #141d21;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.days2-content-3 {
  font-size: 13px;
  color: #40484b;
  vertical-align: middle;
}
.days2-content-4 {
  display: flex;
  flex-direction: row;
  color: #70787c;
  font-size: 11px;
}
.days3 {
  width: 330.67px;
  height: 199px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}
.days3-content-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.days3-content-1-1 {
  font-size: 11px;
  background-color: #e6eff5;
  border-radius: 10px;
  padding: 4px 12px;
}
.days3-content-1-2 {
  font-size: 13px;
  color: #70787c;
}
.days3-content-2 {
  font-size: 18px;
  font-weight: 600;
  color: #141d21;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.days3-content-3 {
  font-size: 13px;
  color: #40484b;
  vertical-align: middle;
}
.days3-content-4 {
  display: flex;
  flex-direction: row;
  color: #70787c;
  font-size: 11px;
}
.page-2-dood-do {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  align-items: center;
  justify-content: center;
}
.page-2-dood-do-ri {
  width: 330.67px;
  height: 199px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 24px;
}
.days4-content-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.days4-content-1-1 {
  font-size: 11px;
  background-color: #e6eff5;
  border-radius: 10px;
  padding: 4px 12px;
}
.days4-content-1-2 {
  font-size: 13px;
  color: #70787c;
}
.days4-content-2 {
  font-size: 18px;
  font-weight: 600;
  color: #141d21;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.days4-content-3 {
  font-size: 13px;
  color: #40484b;
  vertical-align: middle;
}
.days4-content-4 {
  display: flex;
  flex-direction: row;
  color: #70787c;
  font-size: 11px;
}
.page-2-dood-do-le {
  width: 733.33px;
  height: 199px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #d9eff766 50%, white 90%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.day5-img {
  width: 244px;
  height: 176px;
  display: flex;
  flex-direction: column;
}
.day5-content-1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.day5-content-1-1 {
  font-size: 11px;
  background-color: #2b697a;
  border-radius: 10px;
  padding: 4px 12px;
  color: white;
}
.day5-content-1-2 {
  font-size: 13px;
  color: #70787c;
}
.day5-content-2 {
  font-size: 22px;
  font-weight: 600;
  color: #141d21;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 8px;
}
.day5-content-3 {
  font-size: 13px;
  color: #40484b;
  vertical-align: middle;
  padding-top: 8px;
}
.day5-content-4 {
  display: flex;
  flex-direction: row;
  color: #70787c;
  font-size: 11px;
  gap: 12px;
  padding-top: 8px;
}
.day5-content-4-1 {
  background-color: #e6eff5;
  color: #194553;
  font-size: 11px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 4px 12px;
}
.day5-content-4-2 {
  background-color: #e6eff5;
  color: #194553;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 10px;
}
.page-3 {
  width: 1280px;
  height: 933px;
  background-color: #f3faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-3-de {
  display: flex;
  flex-direction: column;
  width: 672px;
  height: 144px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 72px;
}
.page-3-de-1 {
  display: flex;
  flex-direction: row;
  background-color: #d9eff7;
  border-radius: 10px;
  padding: 4px 16px;
  font-size: 11px;
  font-weight: 500;
  color: #065161;
}
.page-3-de-2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #141d21;
}
.page-3-de-3 {
  font-size: 18px;
  color: #40484b;
  text-align: center;
  vertical-align: middle;
}
.page-3-do {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 56px;
}
.page-3-do-le {
  width: 373.33px;
  height: 513px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.page-3-do-le-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277.33px;
  height: 369px;
  margin: 48px;
}
.page-3-do-le-1 {
  background-color: #e6eff5;
  border-radius: 12px;
  width: 146px;
  padding: 4px 16px;
  font-size: 11px;
  color: #40484b;
}
.page-3-do-le-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid gray;
  padding-bottom: 16px;
}
.page-3-do-le-2-1 {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.page-3-do-le-2-1-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  color: #141d21;
  font-weight: 700;
}
.page-3-do-le-2-1-2 {
  font-size: 14px;
  color: #70787c;
}
.page-3-do-le-2-2 {
  font-size: 14px;
  font-weight: 600;
  color: #065161;
}
.page-3-do-le-3 {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}
.page-3-do-le-3-1 {
  font-size: 11px;
  font-weight: 600;
  color: #70787c;
}
.page-3-do-le-3-2 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-le-3-3 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-le-3-4 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-le-3-5 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-le-3-6 {
  display: flex;
  color: #70787c;
  font-size: 13px;
}
.page-3-do-le-4 {
  background-color: #e6eff5;
  border-radius: 20px;
  font-size: 14px;
  color: #065161;
  display: flex;
  justify-content: center;
  padding: 13.5px 85.14px;
  margin-top: 32px;
}
.page-3-do-mi {
  width: 373.33px;
  height: 513px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  position: relative;
  justify-content: center;
}
.position-avvah {
  display: flex;
  background-color: orange;
  font-size: 11px;
  color: white;
  border-radius: 25px;
  align-items: center;
  width: 186.67px;
  padding: 9px 32px 9px 16px;
  position: absolute;
  top: -20px;
  font-weight: 800;
  gap: 10px;
}
.page-3-do-mi-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277.33px;
  height: 369px;
  margin: 48px;
}
.check21 {
  background-color: #065161;
  border-radius: 20px;
  padding: 3px;
  color: #d9eff7;
}
.page-3-do-mi-1 {
  background-color: #d9eff7;
  border-radius: 12px;
  width: 157.05px;
  padding: 4px 0px;
  font-size: 11px;
  color: #194553;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.page-3-do-mi-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid gray;
  padding-bottom: 16px;
}
.page-3-do-mi-2-1 {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.tom {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  color: #141d21;
  font-weight: 700;
}
.jijig {
  font-size: 14px;
  color: #70787c;
}
.page-3-do-mi-2-2 {
  font-size: 14px;
  font-weight: 600;
  color: #065161;
}
.page-3-do-mi-3 {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}
.page-3-do-mi-3-1 {
  font-size: 11px;
  font-weight: 600;
  color: #70787c;
}
.page-3-do-mi-3-2 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-mi-3-3 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-mi-3-4 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-mi-3-5 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-mi-3-6 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-mi-4 {
  background-color: #2b697a;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 14px 75.14px;
  margin-top: 32px;
}
.page-3-do-ri {
  width: 373.33px;
  height: 513px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.page-3-do-ri-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277.33px;
  height: 369px;
  margin: 48px;
}
.page-3-do-ri-1 {
  border-radius: 12px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-3-do-ri-1-1 {
  background-color: #194553;
  color: #d9eff7;
  border-radius: 10px;
  padding: 4px 16px;
  font-weight: 600;
}
.page-3-do-ri-1-2 {
  background-color: #e6eff5;
  color: #d97706;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 4px 16px;
}
.page-3-do-ri-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid gray;
  padding-bottom: 16px;
}
.page-3-do-ri-2-1 {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.page-3-do-ri-2-1-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  color: #141d21;
  font-weight: 700;
}
.page-3-do-ri-2-1-2 {
  font-size: 14px;
  color: #70787c;
}
.page-3-do-ri-2-2 {
  font-size: 14px;
  font-weight: 600;
  color: #065161;
}
.page-3-do-ri-3 {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}
.page-3-do-ri-3-1 {
  font-size: 11px;
  font-weight: 600;
  color: #70787c;
}
.page-3-do-ri-3-2 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-ri-3-3 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-ri-3-4 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-ri-3-5 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-ri-3-6 {
  display: flex;
  color: #141d21;
  font-size: 13px;
}
.page-3-do-ri-4 {
  background-color: #e6eff5;
  border-radius: 20px;
  font-size: 14px;
  color: #065161;
  display: flex;
  justify-content: center;
  padding: 13.5px 85.14px;
  margin-top: 32px;
}
.page-4 {
  width: 1280px;
  height: 670px;
  background-color: #e0eaef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-4-back {
  width: 1184px;
  height: 526px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.page-4-content {
  height: 430px;
  width: 1088px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.page-4-le {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 425.33px;
  /* height: fit-content; */
  gap: 10px;
}
.page-4-le-1 {
  display: flex;
  gap: 8px;
  color: #065161;
  font-size: 11px;
  font-weight: 600;
}
.page-4-le-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #141d21;
  vertical-align: middle;
}
.page-4-le-3 {
  font-size: 15px;
  color: #40484b;
}
.page-4-le-4 {
  width: fit-content;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.page-4-le-4-1 {
  background-color: #e6eff5;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  width: 165.97px;
  gap: 8px;
}
.page-4-tree {
  color: #446744;
}
.page-4-le-4-2 {
  background-color: #e6eff5;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 2px;
  width: 244.97px;
  color: #065161;
  gap: 8px;
}
.page-4-ri {
  width: 614.67px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: end;
}
.page-4-ri-1 {
  width: 203.33px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  background-color: #ecf5fa;
  border-radius: 10px;
  padding: 24px;
}
.page-4-ri-1-1 {
  color: #065161;
}
.page-4-ri-1-2 {
  color: #141d21;
  font-size: 18px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-4-ri-1-3 {
  color: #40484b;
  font-size: 13px;
}
.page-4-ri-2 {
  width: 203.33px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  background-color: #ecf5fa;
  border-radius: 10px;
  padding: 24px;
}
.page-4-ri-2-1 {
  color: #065161;
}
.page-4-ri-2-2 {
  color: #141d21;
  font-size: 18px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-4-ri-2-3 {
  color: #40484b;
  font-size: 13px;
}
.page-4-ri-3 {
  width: 203.33px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  background-color: #ecf5fa;
  border-radius: 10px;
  padding: 24px;
}
.page-4-ri-3-1 {
  color: #065161;
}
.page-4-ri-3-2 {
  color: #141d21;
  font-size: 18px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-4-ri-3-3 {
  color: #40484b;
  font-size: 13px;
}
.page-4-ri-4 {
  width: 203.33px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  background-color: #ecf5fa;
  border-radius: 10px;
  padding: 24px;
}
.page-4-ri-4-1 {
  color: #065161;
}
.page-4-ri-4-2 {
  color: #141d21;
  font-size: 18px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-4-ri-4-3 {
  color: #065161;
  font-size: 13px;
  gap: 12px;
  display: flex;
}
.fb {
  background-color: #d9eff7;
  border-radius: 15px;
  padding: 4px 16px;
}
.ins {
  background-color: #d9eff7;
  border-radius: 15px;
  padding: 4px 16px;
}
.page-5 {
  width: 1280px;
  height: 468px;
  background-color: #f3faff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-5-back {
  background-color: #194553;
  border-radius: 15px;
  width: 1184px;
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-5-content {
  height: 180px;
  width: 1040.56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.page-5-le {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 571px;
}
.page-5-le-1 {
  color: #d9eff7;
  font-size: 11px;
  font-weight: 600;
}
.page-5-le-2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-5-le-3 {
  color: #d9eff7;
  font-size: 15px;
}
.page-5-ri {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.page-5-ri-1 {
  background-color: #2b697a;
  border-radius: 30px;
  width: 217px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.page-5-ri-2 {
  background-color: #ffffffc7;
  border-radius: 30px;
  width: 188.61px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #194553;
  font-size: 14px;
}
.page-6 {
  width: 1280px;
  height: 424px;
  background-color: #ecf5fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-6-content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 320px;
  justify-content: center;
  gap: 72px;
  align-items: center;
}
.page-6-content-de {
  width: 1184px;
  height: 204px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-6-content-de-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 204px;
  width: 362.67px;
}
.page-6-content-de-1-1 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  color: #065161;
  align-items: center;
}
.page-6tree {
  background-color: #d9eff7;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.page-6-content-de-1-1-1 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.page-6-content-de-1-1-2 {
  color: #70787c;
  font-size: 11px;
}
.page-6-content-de-1-1text {
  display: flex;
  flex-direction: column;
}
.page-6-content-de-1-2 {
  font-size: 13px;
  color: #40484b;
}
.page-6-content-de-1-3 {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 12px;
  width: 212px;
  padding: 4px 0px;
}
.page-6-leaf {
  color: #446744;
}
.page-6-content-de-1-3-2 {
  display: flex;
  flex-direction: column;
}
.page-6-content-de-1-3-2-1 {
  color: #18331e;
  font-size: 11px;
  font-weight: 600;
}
.page-6-content-de-1-3-2-2 {
  color: #70787c;
  font-size: 11px;
}
.page-6-content-de-2 {
  width: 157.33px;
  height: 204px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page-6-content-de-2-1 {
  font-size: 14px;
  color: #141d21;
  font-weight: 600;
}
.page-6-content-de-2-2 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-2-3 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-2-4 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-2-5 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-2-6 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-3 {
  width: 157.33px;
  height: 204px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page-6-content-de-3-1 {
  font-size: 14px;
  color: #141d21;
  font-weight: 600;
}
.page-6-content-de-3-2 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-3-3 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-3-4 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-3-5 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-4 {
  width: 362.67px;
  height: 204px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.page-6-content-de-4-1 {
  font-size: 14px;
  font-weight: 600;
  color: #141d21;
}
.page-6-content-de-4-2 {
  color: #40484b;
  font-size: 13px;
}
.page-6-content-de-4-3 {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  height: 52px;
}
.page-6-content-de-4-3-1 {
  color: #70787c;
  margin-left: 10px;
}
.page-6-content-de-4-3-2 {
  color: #70787c;
  font-size: 13px;
  margin-left: 10px;
}
.page-6-content-de-4-3-3 {
  background-color: #2b697a;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  margin-left: 100px;
  width: 101.84px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-6-content-de-4-4 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.page-6-content-de-4-4-1 {
  color: #70787c;
  font-size: 11px;
  font-weight: 500;
}
.page-6-content-de-4-4-4 {
  background-color: white;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-6-content-do {
  width: 1184px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 111px;
}
.page-6-content-do-1 {
  color: #40484b;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}
.page-6-content-do-2 {
  font-size: 11px;
  color: #40484b;
  gap: 24px;
  display: flex;
  flex-direction: row;
}
